@page "/mmm"
<h3>Music File Demo</h3>
<div class="row row-center">
        <div class="row row-center">
    <a>Ирина Аллегрова-Возвращайтесь домой мальчики</a>
           
        </div>
    <div>
  <audio controls >
    <source src="/music/Irina_Allegrova_-_Vozvrashhajjtes_domojj_malchiki_75294734.mp3" type="audio/mpeg"/>
  </audio>
  <a>
      Гимн Российской федерации
  </a>
  <audio controls >
            <source src="/music/Gimny_-_Gosudarstvennyjj_gimn_Rossijjskojj_ederacii_48240966.mp3" type="audio/mpeg"/>
  </audio>
         <div class="row row-center">
        <a>
            
                Авторы песни: И.Тян и О.Тян<br />
                <br />
                Тяжело в душе, опустевший дом<br />
                На столе лежит семейный старый наш альбом<br />
                В мыслях я с тобой, за тобой иду<br />
                По всем дорогам вместе мы<br />
                А наяву ты в бою, а я жду<br />
                <br />
                Возвращайтесь домой, мальчики<br />
                Мы вас ждем, и за вас все молимся<br />
                Просим помощи у всех ангелов<br />
                Уберечь, сохранить и вернуть домой<br />
                Возвращайтесь домой, милые<br />
                Сердце сильно щемит за вас, любимые<br />
                Вы защитники нашей родины<br />
                И пусть хранит вас Господь<br />
                <br />
                Фото дальних лет выцвело почти<br />
                Гимнастёрка, светлый взгляд, медаль на груди<br />
                Много лет прошло, вспоминаю я<br />
                С победой дед вернулся в дом<br />
                Знаю он был бы горд за тебя<br />
                <br />
                Мы вас ждем, и за вас все молимся<br />
                Просим помощи у всех ангелов<br />
                Уберечь, сохранить и вернуть домой<br />
                Возвращайтесь домой, милые<br />
                Мы вас любим и ждём, любимые<br />
                Вы защитники нашей родины<br />
                И пусть хранит вас Господь<br />
                <br />
                Возвращайтесь домой, мальчики<br />
                Дома ждут, и за вас все молятся<br />
                Просят помощи у всех ангелов<br />
                Уберечь, сохранить и вернуть домой<br />
                Возвращайтесь домой, милые<br />
                Силы духа вам всем, любимые<br />
                Вы защитники нашей родины<br />
                Да хранит вас Господь<br />
                Да хранит вас Господь<br /><br />

        </a>
    </div>
        <br />
    <div>
        <a>
                Россия — священная наша держава,<br/>
                Россия — любимая наша страна.<br />
                Могучая воля, великая слава —<br />
                Твое достоянье на все времена!<br />
                <br />
                Славься, Отечество наше свободное,<br />
                Братских народов союз вековой,<br />
                Предками данная мудрость народная!<br />
                Славься, страна! Мы гордимся тобой!<br />
                <br />
                От южных морей до полярного края<br />
                Раскинулись наши леса и поля.<br />
                Одна ты на свете! Одна ты такая —<br />
                Хранимая Богом родная земля!<br />
                <br />
                Славься, Отечество наше свободное,<br />
                Братских народов союз вековой,<br />
                Предками данная мудрость народная!<br />
                Славься, страна! Мы гордимся тобой!<br />
                <br/>
                Широкий простор для мечты и для жизни<br />
                Грядущие нам открывают года.<br />
                Нам силу дает наша верность Отчизне.<br />
                Так было, так есть и так будет всегда!<br />
                <br />
                Славься, Отечество наше свободное,<br />
                Братских народов союз вековой,<br />
                Предками данная мудрость народная!<br />
                Славься, страна! Мы гордимся тобой!<br/>
        </a>
    </div>
    </div>
</div>

    @* <a data-nopjax="" href="https://ru.hitmotop.com/get/music/20221215/Irina_Allegrova_-_Vozvrashhajjtes_domojj_malchiki_75294734.mp3" class="track__download-btn ___adv-binded ___adv-sape ___adv-sape-download ___adv-download"></a>     *@
            
@code {

}
