@page "/mmm"
<h3>Music File Demo</h3>
<div class="row row-center">
        <div class="row row-center">
    <a>Ирина Аллегрова-Возвращайтесь домой мальчики</a>
           
        </div>
    <div>
<audio controls autoplay>
    @*<source src="https://ru.hitmotop.com/get/music/20221215/Irina_Allegrova_-_Vozvrashhajjtes_domojj_malchiki_75294734.mp3" type="audio/mpeg" />*@
    <source src="/music/Irina_Allegrova_-_Vozvrashhajjtes_domojj_malchiki_75294734.mp3" type="audio/mpeg"/>
</audio>

    </div>
</div>

    @* <a data-nopjax="" href="https://ru.hitmotop.com/get/music/20221215/Irina_Allegrova_-_Vozvrashhajjtes_domojj_malchiki_75294734.mp3" class="track__download-btn ___adv-binded ___adv-sape ___adv-sape-download ___adv-download"></a>     *@
            
@code {

}